:root {
    --mainBlue: #1d699c;
    --mainRed: #dc321c;
    --font-family: 'Arial', sans-serif;
    --mainBlackTrans: rgba(0, 0, 0, 0.7);
    --mainHeight: 100vh;
}

body {
    background-color: var(--mainBlackTrans);
}

.height-100 {
    height: var(--mainHeight);
}

.mainHeader {
    text-align: center;
    font-size: 18vh;
    color: var(--mainRed);
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 12px 20px 4px rgba(0, 0, 0, 0.5);
}

.subHeader {
    text-align: center;
    font-size: 18vh;
    color: var(--mainBlue);
    margin-top: 0;
    text-shadow: -12px 20px 4px rgba(0, 0, 0, 0.5);
}

.mainSection {
    background-color: var(--mainBlackTrans);
    min-height: var(--mainHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}