:root {
    --mainBlue: #1d699c;
    --mainDarkBlue: #0f3d5e;
    --mainRed: #dc321c;
    --font-family: 'Comic Sans MS', sans-serif;
    --mainBlackTrans: rgba(0, 0, 0, 0.7);
    --mainHeight: 84vh;
    --mainHeaderHeight: 18vh;
    --mainWhite: #ffffff;
}

body {
    background-color: var(--mainBlue);
}

.height-100 {
    height: var(--mainHeight);
}

.underline {
    height: 2vh;
    background-color: var(--mainRed);
    width: 70vh;
    margin-top: 2vh;
    border-radius: 10px;
    border: 3px solid var(--mainBlackTrans);
}

.underline2 {
    height: 2vh;
    background-color: var(--mainBlue);
    width: 70vh;
    margin-top: 2vh;
    border-radius: 10px;
    border: 3px solid var(--mainDarkBlue);
}

.mainHeader {
    text-align: center;
    font-size: var(--mainHeaderHeight);
    color: var(--mainRed);
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 12px 20px 4px rgba(0, 0, 0, 0.5);
}

.subHeader {
    text-align: center;
    font-size: var(--mainHeaderHeight);
    color: var(--mainBlue);
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: -12px 20px 4px rgba(0, 0, 0, 0.5);
    
}

.logo {
    display: block;
    width: 7vh;
    height: auto;
    justify-content: center;
}

.mainSection {
    background-color: var(--mainBlackTrans);
    min-height: var(--mainHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid var(--mainDarkBlue);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 4vh;
    width: 100%;
    box-sizing: border-box;
    max-width: 1200px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--mainBlue);
}

.nav-links li:hover {
    background-color: var(--mainDarkBlue);
    scale: 1.1;
    transition: background-color, scale 0.6s ease-out;
}

.nav-links li {
    margin: 0 25px;
    background-color: var(--mainRed);
    padding: 10px 20px;
    border: 3px solid var(--mainBlackTrans);
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-family: var(--font-family);
    font-size: 1.2rem;
}

.xpBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.xpHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: var(--mainRed);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 10vh;
    background-color: var(--mainBlackTrans);
    padding: 2vh;
    border: var(--mainDarkBlue) 1vh solid;
}

#xpProgress {
    width: 70vh;
    height: 2vh;
    background-color: var(--mainDarkBlue);
    border-radius: 10px;
    border: 3px solid var(--mainBlackTrans);
    max-width: 70vh;
}

.xpValue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.xpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mainDarkBlue);
    padding: 2vh;
}

.xpLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: var(--mainWhite);
    font-size: 8vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--mainBlackTrans);
    padding: 2vh;
    border: var(--mainDarkBlue) 1vh dashed;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

